//! **************************************************************************
// Written by: Map P.58f on Fri Oct 21 17:22:12 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
SCHEMATIC END;

